**NAMED ENTITY RECOGNITION(NER)**

In [2]:
import spacy

In [3]:
nlp=spacy.load('en_core_web_sm')
nlp.pipe_names

['tok2vec', 'tagger', 'parser', 'attribute_ruler', 'lemmatizer', 'ner']

In [ ]:
doc = nlp("Tesla Inc is going to acquire twitter for $45 billion")
for ent in doc.ents:
  print(ent.text,'|',ent.label_,'|',spacy.explain(ent.label_))

Tesla Inc | ORG | Companies, agencies, institutions, etc.
$45 billion | MONEY | Monetary values, including unit

In [ ]:
from spacy import displacy
displacy.render(doc,style='ent')

'<div class="entities" style="line-height: 2.5; direction: ltr">\n<mark class="entity" style="background: #7aecec; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">\n    Tesla Inc\n    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">ORG</span>\n</mark>\n is going to acquire twitter for \n<mark class="entity" style="background: #e4e7d2; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">\n    $45 billion\n    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">MONEY</span>\n</mark>\n</div>'

**Listing out all entities**

In [ ]:
nlp.pipe_labels['ner']

['CARDINAL',
 'DATE',
 'EVENT',
 'FAC',
 'GPE',
 'LANGUAGE',
 'LAW',
 'LOC',
 'MONEY',
 'NORP',
 'ORDINAL',
 'ORG',
 'PERCENT',
 'PERSON',
 'PRODUCT',
 'QUANTITY',
 'TIME',
 'WORK_OF_ART']

In [ ]:
doc=nlp('Michael Bloomberg founded Bloomberg in 1982')
for ent in doc.ents:
  print(ent.text,"|",ent.label_,"|",spacy.explain(ent.label))

Michael Bloomberg | PERSON | None
Bloomberg | PERSON | None
1982 | DATE | None

/usr/local/lib/python3.10/dist-packages/spacy/glossary.py:20: UserWarning: [W118] Term '380' not found in glossary. It may however be explained in documentation for the corpora used to train the language. Please check `nlp.meta["sources"]` for any relevant links.
  warnings.warn(Warnings.W118.format(term=term))
/usr/local/lib/python3.10/dist-packages/spacy/glossary.py:20: UserWarning: [W118] Term '391' not found in glossary. It may however be explained in documentation for the corpora used to train the language. Please check `nlp.meta["sources"]` for any relevant links.
  warnings.warn(Warnings.W118.format(term=term))

In [ ]:
doc = nlp("Tesla Inc is going to acquire Twitter Inc for $45 billion")
for ent in doc.ents:
  print(ent.text,"|",ent.label_,"|",ent.start_char,"|",ent.end_char)

Tesla Inc | ORG | 0 | 9
Twitter Inc | ORG | 30 | 41
$45 billion | MONEY | 46 | 57

In [ ]:
doc = nlp("Tesla is going to acquire Twitter for $45 billion")
for ent in doc.ents:
  print(ent.text,"|",ent.label_)

Tesla | ORG
Twitter | PRODUCT
$45 billion | MONEY

In [ ]:
s=doc[2:5]
s

going to acquire

In [ ]:
type(s)

spacy.tokens.span.Span

In [ ]:
from spacy.tokens import Span
s1=Span(doc, 0, 1, label="ORG")
s2=Span(doc, 5, 6, label='ORG')
doc.set_ents([s1,s2],default='unmodified')

In [ ]:
for ent in doc.ents:
  print(ent.text,"|",ent.label_)

Tesla | ORG
Twitter | ORG
$45 billion | MONEY

In [ ]:
import spacy
nlp=spacy.load("en_core_web_sm")

In [9]:
text = """Kiran want to know the famous foods in each state of India. So, he opened Google and search for this question. Google showed that
in Delhi it is Chaat, in Gujarat it is Dal Dhokli, in Tamilnadu, in Andhrapradesh it is Biryani, in Assam it is Papaya Khar,
in Bihar it is Litti Chowkha and so on for all other states"""

In [10]:
doc=nlp(text)

In [13]:
all_gpe_names=[]
for ent in doc.ents:
  if ent.label_=='GPE':
    all_gpe_names.append(ent)

print("Geographical location names: ",all_gpe_names)
print("Count: ",len(all_gpe_names))

Geographical location names:  [India, Delhi, Gujarat, Andhrapradesh, Assam, Bihar]
Count:  6

In [18]:
text = """Sachin Tendulkar was born on 24 April 1973, Virat Kholi was born on 5 November 1988, Dhoni was born on 7 July 1981
and finally Ricky ponting was born on 19 December 1974."""
doc=nlp(text)
all_birth_dates=[]
for ent in doc.ents:
  if ent.label_=='DATE':
    all_birth_dates.append(ent)

print("All Birth Dates:",all_birth_dates)
print("Count: ",len(all_birth_dates))

All Birth Dates: [24 April 1973, 5 November 1988, 7 July 1981, 19 December 1974]
Count:  4